@import "font-awesome/css/font-awesome.css";

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html,
body {  margin: 0;  padding: 0;  overflow: hidden;
}

body {
  position: relative;
  color: black;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

header#root-header {
  padding: 25px;
  background-color: #c1e7e0;
  /* background-image: linear-gradient(45deg, #97e2ef 5%, #f9e28a 30%, #d3da5f); */
}

header#root-header a {
  opacity: 1;
}

header#root-header img,
header#root-header a img {
  max-height: 50px;
  max-width: fit-content;
  box-shadow: #232c39;
}

#root {
  height: 100vh;
}

main {
  padding: 5px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

div#image_credit {
  bottom: 2ex;
  position: fixed;
}

.MuiListItem-container .MuiInputBase-fullWidth {
  width: 90%;
}